<!doctype html>
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>VELDT<br/><small><em>Valient and Excellent Log Display Tool</em></small></h1>
            <div class="top-buffer">
            <a href="{{ url_for('efefal.playbook_index') }}" class="btn my-primary"><h3>By Playbook</h3></a>
            <div class="top-buffer">
            <a href="#link" class="btn my-primary"><h3>By Device <small>Not yet implemented</small></h3></a>
            <div class="top-buffer">
            <a href="#link" class="btn my-primary"><h3>By Session <small>Not yet implemented</small></h3></a>
        </div>
    </div>
</div>
{% endblock %}
