<!doctype html>
{% extends 'base.html' %}
<title>Playbook index</title>
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Playbooks</h1>
            <h4>Select a playbook to see a list of runs</h4>
            {% for playbook in list_of_playbooks %}
            <!-- TODO: display some information about these playbook runs here
                eg runtime, number of hosts, summary stats -->
                <p><a href="{{ url_for('efefal.sessions', playbook=playbook) }}"> {{ playbook }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
