<!doctype html>
<title>Tasks for {{ playbook }}, session {{ session }}</title>
{% block body %}
<table>
    <tr>
        <th>Host</th>
        <th>Ok</th>
        <th>Failures</th>
        <th>Unreachable</th>
        <th>Changed</th>
        <th>Skipped</th>
    {% for host, results in finish.items() %}
    <tr>
        <td>{{ host }}</td>
        {% for key, value in results.items() %}
            <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        <td>Total</td>
        {% for key, value in total.items() %}
            <td>{{ value }}</td>
        {% endfor %}
    </tr>
</table>

<table>
    <tr>
        <th>Timestamp</th>
        <th>Task</th>
        <th>Status</th>
    </tr>
{% for task in tasks %}
    <tr>
        <td>{{ task['@timestamp'] }}</td>
        <td>{{ task['ansible_task'] }}</td>
        <td>{{ task['status'] }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
